@using Tienda_NetCore3.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Tienda_NetCore3.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tienda_NetCore3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/dist/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-datatables/dist/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/dist/css/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert/dist/css/sweetalert.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" asp-area="Cliente" asp-controller="Home" asp-action="Index">Tienda_NetCore3</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Cliente" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gestión de contenidos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                            <a class="dropdown-item text-white" asp-area="Admin" asp-controller="Categoria" asp-action="Index">Categoría</a>
                            <a class="dropdown-item text-white" asp-area="Admin" asp-controller="Frecuencia" asp-action="Index">Frecuencia</a>
                            <a class="dropdown-item text-white" asp-area="Admin" asp-controller="Servicio" asp-action="Index">Servicio</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @if (HttpContextAccessor.HttpContext.Session.GetObject<List<int>>(SD.SesionCarritoCompras) != null)
                    {
                        <li style="color:white">
                            <a asp-area="Cliente" asp-controller="CarroCompras" asp-action="Index" class="nav-link text-white">
                                @{
                                    var cantItems = HttpContextAccessor.HttpContext.Session.GetObject<List<int>>(SD.SesionCarritoCompras).Count;
                                }
                                <i class="fas fa-shopping-cart"></i>&nbsp; (@cantItems)
                            </a>
                        </li>
                    }
                    else
                    {
                        <li style="color:white">
                            <a href="#" class="nav-link text-white">
                                <i class="fas fa-shopping-cart"></i>&nbsp; (0)
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>
    <div class="container my-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Tienda_NetCore3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.serializejson.min.js"></script>
    <script src="~/lib/jquery-ui/dist/js/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-datatables/dist/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/toastr/dist/js/toastr.min.js"></script>
    <script src="~/lib/sweetalert/dist/js/sweetalert.min.js"></script>
    <script src="~/lib/fontawesome/dist/js/fontawesome.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
