@model Tienda_NetCore3.Models.ViewModels.CarroComprasViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<form method="post">

    @if (Model.ListadoServicios.Count > 0)
    {
        <br />
        <div class="backgroundWhite container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-12 d-none d-md-block col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i>&nbsp; Resumen de compras
                    </div>
                    <div class="col-12 col-md-4 offset-md-2 text-right">
                        <a asp-action="Index" asp-controller="CarroCompras" asp-area="Cliente" class="btn btn-outline-info form-control btn-sm">Volver al carro de compras</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center">
                                        <span class="text-primary">Detalles de envio:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Nombre</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="EncabezadoCompra.Nombre" id="txtNombre" class="form-control" />
                                        <span asp-validation-for="EncabezadoCompra.Nombre" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Teléfono</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="EncabezadoCompra.Telefono" id="txtTelefono" class="form-control" />
                                        <span asp-validation-for="EncabezadoCompra.Telefono" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Dirección</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="EncabezadoCompra.Direccion" id="txtDireccion" class="form-control" />
                                        <span asp-validation-for="EncabezadoCompra.Direccion" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Ciudad</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="EncabezadoCompra.Ciudad" id="txtNombre" class="form-control" />
                                        <span asp-validation-for="EncabezadoCompra.Ciudad" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Código postal</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="EncabezadoCompra.CodigoPostal" id="txtNombre" class="form-control" />
                                        <span asp-validation-for="EncabezadoCompra.CodigoPostal" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="EncabezadoCompra.Email" id="txtNombre" class="form-control" />
                                        <span asp-validation-for="EncabezadoCompra.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 offset-lg-1">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-primary">
                                        Resumen de compra
                                    </span>
                                </h4>
                                <ul class="list-group mb-3">
                                    @{ var total = 0.0; }
                                    @foreach(var detalles in Model.ListadoServicios)
                                    {
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                <input type="hidden" asp-for="@detalles.Id" />
                                                <h6 class="my-0">@detalles.Nombre</h6>
                                                <small class="text-muted">Frecuencia: @detalles.Frecuencia.Conteo</small>
                                            </div>
                                            <span class="text-muted">$@(detalles.Precio * detalles.Frecuencia.Conteo)</span>
                                            @{ total += (detalles.Precio * detalles.Frecuencia.Conteo);}
                                        </li>
                                    }
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-primary">Total (USD)</small>
                                    <strong class="text-primary">$@total</strong>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 text-right">
                        <button type="submit" class="btn btn-success form-control">Efectuar compra</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="backgroundWhite">No hay items agregados al carro de compras...</div>
    }

</form>